{
  "CLIENT_ID": "your_client_id_here",
  "CLIENT_SECRET": "your_client_secret_here",
  "SECRET_KEY": "replace-with-random-string-for-flask-sessions",
  "REDIS": {
    "HOST": "192.168.2.254",
    "PORT": 6379,
    "DB": 0,
    "PASSWORD": null,
    "ENABLED": true
  },
  "WEBDAV": {
    "USER": "your_webdav_username",
    "PASSWORD": "your_webdav_password",
    "HOST": "webdav-1836076489.pd1.123pan.cn"
  }
}
